/*
* @Author: lenovo
* @Date:   2018-05-29 18:20:55
* @Last Modified by:   lenovo
* @Last Modified time: 2018-06-10 19:25:48
*/
*{
	padding: 0;
	margin: 0 auto;
}
ul,li,ol{
	list-style: none;
}
.clear:after {
	content: '';
	display: block;
	height: 0;
	clear: both;
}
a{
	text-decoration: none;
}
/*headstar*/
.head{
	width: 1428px;
	height: 45px;
	margin: 0 auto;
	background-color: #333333;
}
.number{
	width: 378px;
	height: 45px;
	float: left;
	margin-left: 1052px;
}
.number li{
	float: left;
	padding-top: 10px;
	padding-left: 7px;
	padding-right: 4;
	text-align: center;
	color: #ffffff;
	font-size: 20px;
}
.number li.first{
	font-size: 14px;
	font-family: '微软雅黑';
	padding-top: 15px;
}
.number li.second{
	padding-left: 13px;
	padding-right: 11px;
}
.number li.third{
	padding-right: 40px;
}
/*headend*/
/**/
.nav{
	width: 1428px;
	height: 80px;
	margin: 0 auto;
	text-align: center;
}
.nav li{
	float: left;
	text-align: center;
	font-size: 20px;
	font-family: '微软雅黑';
	color: #000000;	
	padding-top: 30px;
	padding-right: 22.5px;
	padding-bottom: 21px;
	padding-left: 22.5px;
}

.nav li.first{
	padding-right: 340px;
	padding-left: 38px;
	padding-top: 13px;
	background: 0;
}
.nav li.second{
	color: #e8420a;
	background: url(../images/lineorgan.png) no-repeat bottom center;
}
/**/
.float{
	width: 163px;
	height: 390px;
	position: fixed;
	right: 20px;
}
.float ul{
	float: left;
}
.float ul.one{
	margin-top: 100px;
}
/**/
.banner{
	width: 1428px;
	height: 445px;
	margin: 0 auto;
	background: url(../images/banner.png) no-repeat center center;
}
.banner li{
	font-size: 20px;
	color: #ffffff;
	font-family: '微软雅黑';
	padding-left: 186px;
	
}
.banner li.first{
	padding-top: 75px;
	font-size: 48px;
}
.banner li.second{
	padding-bottom: 10px;
}
.search{
	width: 714px;
	height: 50px;
	background-color: #ffffff;
	margin-left: 357px;
	margin-top: 85px;
	border-radius: 5px;
}
.search p{
	float: left;
	padding-left: 20px;
	padding-top: 15px;
	font-size: 18px;
	color: #666666;
	font-family: '微软雅黑';
}
.search p.one{
	padding-top: 0;
	padding-left: 0;
}
.search p.two{
	float: right;
	padding-top: 0;
	padding-left: 0;
}
.banner2{
	width: 1428px;
	height: 108px;
	background: url(../images/banner2.jpg) no-repeat center center;
}
.banner2 p{
	font-size: 20px;
	font-family: '黑体';
	color: #ffffff;
	text-align: center;
	padding-top: 16px;
}
/**/
/**/
.custommade{
	width: 1428px;
	height: 705px;
	margin: 0 auto;
}
.custommade1{
	width: 1200px;
	height: 310px;
	margin-left: 115px;
	border-radius: 10px;
	background: url(../images/blue.png) no-repeat center center;
}
.custommade1 p{
	font-size: 36px;
	font-family: '微软雅黑';
	padding-top: 55px;
	text-align: center;
	color: #ffffff;
}
.custommade1 ul{
	width: 240px;
	margin-left: 104px;
	margin-right: 0;
	float: left;
}
.custommade1 li{
	/*padding-left: 104px;*/
	font-size: 26px;
	color: #ffffff;
	font-family: '微软雅黑';
}
.custommade1 button{
	height: 52px;
	width: 180px;
	color: #ffffff;
	margin-left: 620px;
	margin-top: 45px;
	font-size: 24px;
	font-family: '微软雅黑';
	border-radius: 10px;
	border:2px solid #ffffff;
	background: transparent;
	float: left;
}
.custommade2{
	width: 1200px;
	height: 365px;
	margin-left: 115px;
	margin-top: 25px;
	border-radius: 10px;
	background: url(../images/car.png) no-repeat center center;
}
.custommade2 ul{
	width: 340px;
	margin-left: 545px;
	float: left;
	padding-top: 35px;
}
.custommade2 ul.two{
	width: 110px;
	margin-left: 140px;
	margin-top: 80px;
	padding: 0;
}
.custommade2 li{
	font-size: 18px;
	font-family: '微软雅黑';
	color: #ffffff;
	padding-bottom: 10px;	
	text-align: left;
}
.custommade2 li.one{
	font-size: 36px;
	padding-bottom: 20px;
}
.custommade2 li.two{
	text-align: center;
	font-size: 26px;
}
.custommade2 button{
	height: 52px;
	width: 180px;
	margin-left: 985px;
	margin-top: 35px;
	color: #ffffff;
	font-size: 24px;
	font-family: '微软雅黑';
	border-radius: 10px;
	border:2px solid #ffffff;
	background: transparent;
}
/**/
/**/
.routes{
	width: 1428px;
	height: 1280px;
	margin: 0 auto;
}
.route1{
	width: 466px;
	height: 90px;
	margin-top: 80px;
	margin-left: 480px;
	background: url(../images/rectangle.png) no-repeat center center;
}
.route1 p{
	font-family: '微软雅黑';
	font-size: 36px;
	color: #000000;
	float: left;
	padding-right: 15px;
	padding-left: 15px;
	background: url(../images/line4.png) no-repeat center right;
}
.route1 p.one{
	padding-left: 100px;
}
.route1 p.two{
	font-size: 18px;
	padding-left: 130px;
	padding-top: 5px;
	background: 0;
}
.route2{
	width: 1200px;
	height: 1125px;
	margin: 0 auto;
	background-color: #ffffff;
}
.route2 lu{
	line-height: 45px;
	color:#ffffff;
	font-family: '微软雅黑';
	font-size: 20px;
	text-align: center;
}
.route2 li{
	padding-top: 5px;
	padding-left: 30px;
}
.route2 li span{
	font-size: 30px;
}
.route2 ul.one{
	width: 590px;
	height: 100px;
	color:#ffffff;
	background-color: #000000;
}
.route2 ul.two{
	width: 608px;
	height: 75px;
	color:#ffffff;
	margin-top: 278px;
	background-color: rgba(0,0,0,0.5);
}
.hainan{
	height: 490px;
	width: 588px;
	padding-top: 34px;
	float: left;
}
.mangu{
	height: 355px;
	width: 610px;
	background: url(../images/route2.jpg) no-repeat center center;
	float: right;
	
}
.riben{
	height: 355px;
	width: 610px;
	background: url(../images/route3.jpg) no-repeat center center;
	float: right;
}
.de{
	height: 490px;
	width: 588px;
	/*background: url(../images/route4.png) no-repeat center center;*/
	float: left;
}
.sililanka{
	height: 355px;
	width: 610px;
	background: url(../images/route5.jpg) no-repeat center center;
	float: right;
}
/**/
/**/
.hot{
	width: 100%;
	height: 1182px;
	margin: 0 auto;
}
.hot1{
	width: 510px;
	height: 90px;
	margin: 0 auto;
	background: url(../images/rectangle1.png) no-repeat center center;
}
.hot1 p{
	font-family: '微软雅黑';
	font-size: 36px;
	color: #000000;
	float: left;
	padding-right: 15px;
	padding-left: 15px;
	background: url(../images/line4.png) no-repeat center right;
}
.hot1 p.one{
	padding-left: 95px;
}
.hot1 p.two{
	font-size: 18px;
	padding-left: 180px;
	padding-top: 5px;
	background: 0;
}
.hot2{
	width: 1203px;
	height: 249px;
	margin: 0 auto;	
}
.hot2 li{
	font-size: 30px;
	font-family: '微软雅黑';
	color: #000000;
	float: left;
	padding-top: 80px;
}
.hot2 li.one{
	padding-right: 90px;
	padding-left: 10px;
}
.hot2 li.two{
	padding-left: 132px;
}
.hot2 li.three{
	padding-top: 45px;	
}
.hot2 li.four{
	padding-right: 85px;
	padding-left: 10px;
}
.hot3{
	width: 1203px;
	height: 745px;
	margin: 0 auto;
	background: url(../images/europe.png) no-repeat center center;
}
.mosike{
	width: 265px;
	height: 452px;
	background: url(../images/mosike.png) no-repeat center center;
	float: left;
	margin-top: 290px;
}
.yidali{
	width: 668px;
	height: 453px;
	background: url(../images/yidali.png) no-repeat center center;
	float: left;
	margin-top: 250px;
}
.xila{
	width: 268px;
	height: 454px;
	background: url(../images/xila.png) no-repeat center center;
	float: left;
	margin-top: 290px;
}
.hot3 ul.one{
	width: 260px;
	height: 80px;
	color:#ffffff;
	margin-top: 372px;
	margin-left: 0;
	background-color: rgba(0,0,0,0.5);
	font-family: '微软雅黑';
	text-align: center;
}
.hot3 li{
	padding-top: 28px;
	font-size: 20px;
}
.hot3 li.one{
	font-size: 26px;
}
.hot3 ul.two{
	width: 668px;
	height: 80px;
	margin-top: 372px;
	color: #ffffff;
	background-color: rgba(0,0,0,0.5);
	text-align: center;
}
/**/
/**/
.visa{
	width: 100%;
	height: 1294px;
	margin: 0 auto;
}
.visa1{
	width: 468px;
	height: 89px;
	margin: 0 auto;
	background: url(../images/rectangle2.png) no-repeat center center;
}
.visa1 p{
	font-size: 36px;
	font-family: '微软雅黑';
	color: #000000;
	float: left;
	padding-left: 13px;
	padding-right: 13px;
	background: url(../images/line4.png) no-repeat center right;
}
.visa1 p.one{
	padding-left: 120px;
}
.visa1 p.two{
	font-size: 18px;
	background: 0;
	padding-left: 140px;
	padding-top: 5px;
}
.visa ul.o{
	width: 520px;
	height: 24px;
	padding-top: 50px;
}
.visa li{
	font-family: '微软雅黑';
	font-size: 20px;
	color: #000000;
	float: left;
	padding-right: 15px;
}
.visa li.one{
	padding-right: 0;
	padding-left: 25px;
}
.visa2{
	width: 1203px;
	height: 657px;
	margin: 0 auto;
	margin-top: 45px;
}
.japan{
	width: 398px;
	height: 558px;
	background: url(../images/japan.png) no-repeat center center;
	float: left;
}
.singapore{
	width: 398px;
	height: 276px;
	background: url(../images/singapore.png) no-repeat center center;
	float: left;
	margin-left: 3px;
	margin-bottom: 4px;
}
.malaysia{
	width: 398px;
	height: 276px;
	background: url(../images/malaysia.png) no-repeat center center;
	float: left;
	margin-left: 4px;
	margin-bottom: 4px;
}
.schengen{
	width: 398px;
	height: 276px;
	background: url(../images/schengen.png) no-repeat center center;
	float: left;
	margin-left: 3px;
	margin-bottom: 4px;
}
.america{
	width: 398px;
	height: 276px;
	background: url(../images/america.png) no-repeat center center;
	float: left;
	margin-left: 4px;
	margin-bottom: 4px;
}
.visa2 ul{
	width: 398px;
	height: 45px;	
	margin-top: 230px;
	margin-left: 0;
	background-color: rgba(0,0,0,0.5);
	font-family: '微软雅黑';
	text-align: center;
}
.visa2 ul.one{
	width: 398px;
	height: 45px;
	padding-top: 0;
	margin-top: 510px;
}
.visa2 li{
	padding-left: 40px;
	color:#ffffff;
}
.visa2 li span{
	font-size: 30px;
}
.visa2 button{
	height: 52px;
	width: 232px;
	margin-left: 480px;
	margin-top: 45px;
	color: #000000;
	font-size: 24px;
	font-family: '微软雅黑';
	border-radius: 10px;
	border:2px solid #000000;
	background: transparent;
}
.visa3{
	width: 100%;
	height: 345px;
	margin-top: 84px;
	background: url(../images/longpicture.png) no-repeat center center;
}
/**/
/**/
.call{
	width: 100%;
	height: 1370px;
	margin: 0 auto;
}
.call1{
	width: 255px;
	height: 80px;
	margin: 0 auto;
	padding-top: 150px;
}
.call1 p{
	font-size: 16px;
	font-family: '微软雅黑';
	color: #000000;
	text-align: center;
}
.call1 p.one{
	font-size: 36px;
	padding-bottom: 13px;
}
.call2{
	width: 1203px;
	height: 402px;
	/*float: left;*/
	margin: 0 auto;
	background: url(../images/serve2.png) no-repeat center center;
}
.call2 ul{
	width: 525px;
	height: 195px;
	margin: 0 auto;
	float: left;
}
.call2 ul.one{
	width: 496px;
	height: 350px;
	/*margin-left: 130px;*/
	margin-top: 50px;
}
.call2 ul.two{
	margin-top: 130px;
	margin-left: 75px;
}
.call2 li.one{
	font-size: 26px;
	font-family: '微软雅黑';
	color: #ffffff;
	text-align: center;
	padding-bottom: 25px;
}
.call2 li.two{
	font-size: 16px;
	font-family: '微软雅黑';
	text-align: left;
	color: #ffffff;
}
.call3{
	width: 100%;
	height: 472px;
	margin: 0 auto;
	margin-bottom: 4px;
	margin-top: 3px;
	background: url(../images/call1.png) no-repeat center center;
}
.call4{
	width: 1203px;
	height: 400px;
	margin: 0 auto;
	background-color: #1c5080;
	border-radius: 8px;
}
.call4 ul{
	width: 290px;
	height: 300px;
	float: left;
	font-size: 16px;
	font-family: '微软雅黑';
	color: #ffffff;
	margin-left: 110px;
	padding-top: 44px;
}
.call4 li{
	text-align: center;
	padding-bottom: 15px;
}
.call4 ul.one{
	margin-left: 60px;
}
/**/
.bottom{
	width: 100%;
	height: 270px;
	margin: 0 auto;
	display: block;
	padding-left: 80px;
	background-color: #000000;
	border-bottom: 1px solid #ffffff;
	margin-top: 180px;
}
.bottom ul{
	width:75px;
	margin: 0 auto;
	margin-top: 60px;
	margin-left: 40px;
	color: #ffffff;
	background: #000000;
	border : 1px solid #000000;
	float: left;
}
.bottom ul.one{
	width: 400px;
	padding-left: 50px;
	float: left;
}
.bottom li{
	line-height: 25px;
}
.bottom ul.two{
	width: 320px;
	float: left;
}
.bottom img.one{
	padding-top: 0px;
	padding-left: 0px;
	float: left;
}
.bottom p{
	font-size:18px;
	font-family:'微软雅黑';
}
.bottom a{
	font-size:14px;
	color: #ffffff;
	font-family: '微软雅黑';
}
.bottom p.zixun{
	font-size:26px;
	font-family: '微软雅黑';
}
.bottom p.zixun span{
	font-size:10px;
	font-family: '微软雅黑';
	margin-right: 30px;
}
.bottom p.email{
	font-size:16px;
	padding-left: 65px;
	padding-top: 15px;
	font-family: '微软雅黑';
}
.last{
	height: 370px;
	margin: 0 auto;
	background-color: #000000;
	text-align: center;
	border-bottom: 3px solid #404040;
}
.last ul{
	margin-top: 35px;
	margin-left: 120px;
	color: #ffffff;
	background: #000000;
	border : 1px solid #000000;
	float: left;
}
.last ul.one{
	margin-left: 20px;
}
.last li{
	margin-bottom: 15px;
	float: left;
}
.last li.one{
	clear: both;
	font-size: 14px;
}
.last li.two{
	font-size: 18px;
}
.last li.three{
	clear: both;
	font-size: 14px;
	padding-left: 30px;
}
.last li.four{
	clear: both;
	font-size: 14px;
	padding-left: 3px;
}
.last p{
	font-size:14px;
	font-family: '微软雅黑';
	line-height: 25px;
	text-align:left;
	color: #b5b5b5;
}
.last p.chujing{
	padding-left: 98px;
}
.last p span{
	font-size:18px;
	font-family: '微软雅黑';
	margin-right: 25px;
	color: #ffffff;
}
.last1{
	height: 160px;
	margin: 0 auto;
	background-color: #000000;
	text-align: center;
}
.last1 p{
	color: #ffffff;
	font-size:14px;
	font-family: '微软雅黑';
	line-height: 30px;
}
.last1 p.one{
	padding-top:45px ;
}