*{
	padding: 0;
	margin: 0;
}
ul,ol,li{
	list-style: none;
}
a{
	text-decoration: none;
}
/*head*/
body{
	background-color: #000;
}
.headr{
	width: 750px;
	height: 116px;
	margin: 0 auto;
	background-color: #fff;
}
.headr li{
	float: left;
}
.kuai{
	width: 165px;
	height: 55px;
	background-color: #e8420a;
	border-radius: 7px;
	margin-top: 36px;
	margin-left: 186px;
}
.kuai p{
	font-size: 28px;
	font-weight: lighter;
	line-height: 55px;
	text-align: center;
	color: #fff;
}
.one{
	padding-top: 27px;
	padding-left: 42px;
}
.two{
	margin-top: 37px;
	margin-left: 45px;
}
/*背景图部分*/
.bg{
	width: 750px;
	height: 450px;
	margin: 0 auto;
	background: url(../images4/photo-big1.png) no-repeat;
}
/*文本*/
.text{
	width: 750px;
	height: 1238px;
	margin: 0 auto;
	background-color: #fff;
}
.none{
	width: 750px;
	height: 75px;
	background-color: #fff;
}
.box{
	margin-left: 43px;
}
.box1{
	width: 700px;
	height: 230px;
	/*margin-left: 43px;*/
}
h1{
	font-size: 36px;
	line-height: 30px;
	font-weight: normal;*/
}
.box1 span{
	font-size: 22px;
	line-height: 30px;
	margin-left: 0px;
	color: #666666;
}
.box1 p{
	font-size: 22px;
	line-height: 38px;
	color: #666666;
}
span{
	font-size: 29px;
	line-height: 36px;
	margin-left: 43px;
}
.biaodan{
	width: 318px;
	height: 63px;
	margin-top: 64px;
	font-size: 24px;
	line-height: 36px;
	text-align: center;
	border-color: #f0815c;
	background: url(../images4/xiaorili.png) no-repeat center right;
}
input{
	width: 83px;
	height: 59px;
	margin-top: 45px;
	font-size: 30px;
	text-align: center; 
}
.er{
	margin-left: 210px;
}
.tong{
	margin-top: 28px;
}
.gray{
	font-size: 20px;
	color: #666;
	margin-left: 35px;
}

.box2{
	margin-top: 65px;
}
.box2 p{
	font-size: 22px;
	line-height: 40px;
	color: #666;
}
.box3{
	margin-top: 90px;
}
.box3 p{
	font-size: 22px;
	line-height: 40px;
	color: #666;
}
.money{
	font-size: 43px;
	line-height: 55px;
	color: #e8420a;
	margin-left: 10px;
}
button{
	width: 668px;
	height: 87px;
	font-size: 34px;
	line-height: 50px;
	text-align: center;
	margin-top: 100px;
	background-color: #e8420a;
	margin: 100px 41px;
	border-radius: 3px;
}
/*空盒子*/
.none1{
	width: 750px;
	height: 20px;
	margin: 0 auto;
	background-color: #f5f5f5;
}
/*备注*/
.beizhu{
	width: 750px;
	height: 985px;
	margin: 0 auto;
	background-color: #fff;
}
.one1{
	width: 206px;
	height: 62px;
	font-size: 30px;
	line-height: 62px;
	text-align: center;
	background-color: #1c5080;
	float: left;
}
.two2{
	display: inline-block;
	height: 60px;
	border-bottom: 2px solid #1c5080;
	float: left;
}
/*编辑*/
.bianji{
	width: 666px;
	height: 779px;
	margin: 80px auto;
	border: 1px solid #e6e6e6;
}
.bianji p{
	font-style: 24px;
	line-height: 40px;
	color: #e8420a;
	text-align: center;
	padding-top: 88px;
}
/*皇冠部分*/
.dot{
	width: 750px;
	height: 210px;
	margin: 0 auto;
	background-color: #fff;
}
.dot img{
	margin-top: 46px;
	margin-left: 42px;
	float: left;
}
.huangguan h2{
	font-size: 30px;
	lighting-color: 30px;
	color: #e8420a;
}
.dot p{
	font-size: 22px;
	line-height: 36px;
	color: #666;
}
.dot/*huangguan*/ button{
	width: 165px;
	height: 55px;
	border-radius: 6px;
	background-color: #fff;
	margin: 0;
	margin-top: 73px;
	margin-left: 30px;
	font-weight: lighter;
	border: 1px solid #e6e6e6;
	float: left;
}
.wenben{
	width: 357px;
	height: 155px;
	margin-top: 45px;
	margin-left: 20px;
	float: left;
}
/*.te{
	display: block;
	float: left;
}*/
/*bus部分*/
.bus h2{
	font-size: 30px;
	line-height: 30px;
	color: #1c5080;
}
/*.other{
	width: 590px;
}
.bus button{
	width: 165px;
	height: 55px;
	border-radius: 6px;
	background-color: #fff;
	margin: 0;
	font-weight: lighter;
	border: 1px solid #e6e6e6;
	float: left;
}*/
.body1{
	width: 750px;
	height: 250px;
	margin: 0 auto;
}
.none2{
	width: 750px;
	height: 30px;
	background-color: #fff;
	margin: 0 auto;
}
/*bottom*/
.bottom{
	width: 750px;
	height: 485px;
	margin: 0 auto;
	background-color: #343235；
}
.tri{
	width: 669px;
	height: 106px;
	margin: 65px auto;
	border: 4px  solid #b9b8b9;
}
.tri p{
	font-size: 30px;
	line-height: 106px;
	color: #fff;
	text-align: center;
}
.bottom>p{
	font-size: 22px;
	line-height: 40px;
	color: #fff;
	text-align: center;
}