/*
* @Author: lenovo
* @Date:   2018-06-13 10:59:20
* @Last Modified by:   lenovo
* @Last Modified time: 2018-06-19 18:42:59
*/
*{
	padding: 0;
	margin: 0 auto;
}
ul,li,ol{
	list-style: none;
}
.clear:after {
	content: '';
	display: block;
	height: 0;
	clear: both;
}
a{
	text-decoration: none;
}
/**/
.head{
	width: 100%;
	height: 45px;
	margin: 0 auto;
	background-color: #333333;
}
.number{
	width: 378px;
	height: 45px;
	float: left;
	margin-left: 1052px;
}
.number li{
	float: left;
	padding-top: 10px;
	padding-left: 7px;
	padding-right: 4;
	text-align: center;
	color: #ffffff;
	font-size: 20px;
}
.number li.first{
	font-size: 14px;
	font-family: '微软雅黑';
	padding-top: 15px;
}
.number li.second{
	padding-left: 13px;
	padding-right: 11px;
}
.number li.third{
	padding-right: 40px;
}
/*headend*/
/**/
.nav{
	width: 100%;
	height: 80px;
	margin: 0 auto;
	cursor: pointer;
}
.nav img{
	float: left;
	padding-left: 30px;
	padding-top: 10px;
}
.nav li{
	text-align: center;
	width: 120px;
	height: 50px;
	line-height: 40px;
	padding-top: 15px;
	font-family: '微软雅黑';
	font-size: 20px;
	background: #ffffff;
}
.nav > ul > li {
	float: left;
	position: relative;
}
.nav>ul>li ul{
	display: none;
	position: absolute;
	left: 0;
	top: 40px;
	padding-top: 5px;
}
.nav>ul>li:hover ul{
	display: block;
}
.nav li:hover {
	background: #ffffff;
}
.nav li:hover>a {
	color: #e8420a;
	font-weight: bold;
}
.nav li.first{
	margin-left: 410px;
	width: 90px;
}
/**/
.float{
	width: 163px;
	height: 390px;
	margin: 0 auto;
	position: fixed;
	right: 8px;
}
.float ul{
	float: left;
}
.float ul.one{
	margin-top: 100px;
}
/**/
.banner{
	width: 100%;
	height: 398px;
	margin: 0 auto;
	background: url(../images/banner1.png) no-repeat center center;
}
/**/
.global{
	width: 100%;
	height: 760px;
	margin: 0 auto;
}
.global1{
	width: 100%;
	height: 96px;
	margin: 0 auto;
	margin-top: 47px;
	background: url(../images/global2.png) no-repeat center center;
}
.global1 p{
	font-size: 36px;
	font-family: '微软雅黑';
	text-align: center;
}
.global1 p.one{
	font-size: 18px;
}
.global2{
	width: 100%;
	height: 568px;
	float: left;
	margin: 0 auto;
}
.global3{
	width: 100%;
	height: 567px;
	margin: 0 auto;
	margin-top: 50px;
	cursor: pointer;
	background: url(../images/map.png) no-repeat center center;
}
.global4{
	width: 231px;
	height: 568px;
	float: left;
}
.global4 li{
	font-size: 22px;
	font-family: '微软雅黑';

}
.global li{
	font-size: 22px;
	font-family: '微软雅黑';
	text-align: center;
}
.global4 > ul > li{
	position: relative;
}
.global4>ul>li ul{
	display: none;
	float: left;
}
.global4>ul>li:hover ul{
	display: block;
}
.global4 li:hover {
	background: #ffffff;
}
.global4 li:hover>a {
	color: #1c5080;
	font-weight: bold;
}
/*.global3 li.first{
	margin-left: 410px;
	width: 90px;
}*/
/**/
.countries{
	width: 100%;
	height: 942px;
	margin: 0 auto;
}
.countries1{
	width: 100%;
	height: 92px;
	margin: 0 auto;
	margin-top: 54px;
	background: url(../images/global1.png) no-repeat center center;
}
.countries1 p{
	font-size: 36px;
	font-family: '微软雅黑';
	text-align: center;
}
.countries1 p.one{
	font-size: 18px;
}
.countries1 a{
	font-size: 26px;
	font-family: '微软雅黑';
	text-align: center;
	padding-left: 82px;
}
.countries1 p.two{
	padding-top: 45px;
}
.countries2{
	width: 1458px;
	height: 690px;
	margin: 0 auto;
	margin-top: 100px;
}
.countries21{
	width: 1210px;
	height: 690px;
	margin-left: 115px;
	float: left;
}
.countries2 li{
	font-family: '微软雅黑';
	font-size: 20px;
	padding-top: 5px;
	padding-left: 30px;
}
.countries2 li.one{
	padding-left: 7px;
}
.countries2 li span{
	font-size: 30px;
}
.countries2 ul{
	width: 597px;
	height: 50px;
	color:#ffffff;
	margin-top: 306px;
	background-color: rgba(0,0,0,0.5);
}
.countries2 ul.one{
	width: 396px;
	height: 50px;
	margin-top: 268px;
}
.gentuan1{
	width: 597px;
	height: 357px;
	float: left;
	margin-right: 4px;
	background: url(../images/gentuan1.png) no-repeat center center;
}
.gentuan2{
	width: 600px;
	height: 357px;
	float: left;
	background: url(../images/gentuan2.png) no-repeat center center;
}
.gentuan3{
	width: 396px;
	height: 317px;
	float: left;
	margin-right: 4px;
	margin-top: 4px;
	background: url(../images/gentuan3.png) no-repeat center center;
}
.gentuan4{
	width: 396px;
	height: 317px;
	float: left;
	margin-right: 4px;
	margin-top: 4px;
	background: url(../images/gentuan4.png) no-repeat center center;
}
.gentuan5{
	width: 396px;
	height: 317px;
	float: left;
	margin-right: 4px;
	margin-top: 4px;
	background: url(../images/gentuan5.png) no-repeat center center;
}
/**/
.routes{
	width: 1428px;
	height: 1280px;
	margin: 0 auto;
}
.route1{
	width: 466px;
	height: 90px;
	margin-top: 80px;
	margin-left: 480px;
	background: url(../images/rectangle.png) no-repeat center center;
}
.route1 p{
	font-family: '微软雅黑';
	font-size: 36px;
	color: #000000;
	float: left;
	padding-right: 15px;
	padding-left: 15px;
	background: url(../images/line4.png) no-repeat center right;
}
.route1 p.one{
	padding-left: 100px;
}
.route1 p.two{
	font-size: 18px;
	padding-left: 130px;
	padding-top: 5px;
	background: 0;
}
.route2{
	width: 1200px;
	height: 1125px;
	margin: 0 auto;
	background-color: #ffffff;
}
.route2 lu{
	line-height: 45px;
	color:#ffffff;
	font-family: '微软雅黑';
	font-size: 20px;
	text-align: center;
}
.route2 li{
	padding-top: 5px;
	padding-left: 30px;
}
.route2 li span{
	font-size: 30px;
}
.route2 ul.one{
	width: 590px;
	height: 100px;
	color:#ffffff;
	background-color: #000000;
}
.route2 ul.two{
	width: 608px;
	height: 75px;
	color:#ffffff;
	margin-top: 278px;
	background-color: rgba(0,0,0,0.5);
}
.hainan{
	height: 490px;
	width: 588px;
	padding-top: 34px;
	float: left;
}
.mangu{
	height: 355px;
	width: 610px;
	background: url(../images/route2.jpg) no-repeat center center;
	float: right;
	
}
.riben{
	height: 355px;
	width: 610px;
	background: url(../images/route3.jpg) no-repeat center center;
	float: right;
}
.de{
	height: 490px;
	width: 588px;
	/*background: url(../images/route4.png) no-repeat center center;*/
	float: left;
}
.sililanka{
	height: 355px;
	width: 610px;
	background: url(../images/route5.jpg) no-repeat center center;
	float: right;
}
/**/
.bottom{
	width: 100%;
	height: 270px;
	margin: 0 auto;
	display: block; 
	background-color: #000000;
	border-bottom: 1px solid #ffffff;
}
.bottom ul{
	width:75px;
	margin: 0 auto;
	margin-top: 60px;
	margin-left: 40px;
	color: #ffffff;
	background: #000000;
	border : 1px solid #000000;
	float: left;
}
.bottom ul.one{
	width: 400px;
	padding-left: 50px;
	float: left;
}
.bottom li{
	line-height: 25px;
}
.bottom ul.two{
	width: 320px;
	float: left;
}
.bottom ul.three{
	margin-left: 130px;
}
.bottom img.one{
	padding-top: 0px;
	padding-left: 0px;
	float: left;
}
.bottom p{
	font-size:18px;
	font-family:'微软雅黑';
}
.bottom a{
	font-size:14px;
	color: #ffffff;
	font-family: '微软雅黑';
}
.bottom p.zixun{
	font-size:26px;
	font-family: '微软雅黑';
}
.bottom p.zixun span{
	font-size:10px;
	font-family: '微软雅黑';
	margin-right: 30px;
}
.bottom p.email{
	font-size:16px;
	padding-left: 65px;
	padding-top: 15px;
	font-family: '微软雅黑';
}
.last{
	width: 100%;
	height: 370px;
	margin: 0 auto;
	background-color: #000000;
	text-align: center;
	border-bottom: 3px solid #404040;
}
.last ul{
	margin-top: 35px;
	margin-left: 120px;
	color: #ffffff;
	background: #000000;
	border : 1px solid #000000;
	float: left;
}
.last ul.one{
	margin-left: 20px;
}
.last li{
	margin-bottom: 15px;
	float: left;
}
.last li.one{
	clear: both;
	font-size: 14px;
}
.last li.two{
	font-size: 18px;
}
.last li.three{
	clear: both;
	font-size: 14px;
	padding-left: 30px;
}
.last li.four{
	clear: both;
	font-size: 14px;
	padding-left: 3px;
}
.last p{
	font-size:14px;
	font-family: '微软雅黑';
	line-height: 25px;
	text-align:left;
	color: #b5b5b5;
}
.last p.chujing{
	padding-left: 98px;
}
.last p span{
	font-size:18px;
	font-family: '微软雅黑';
	margin-right: 25px;
	color: #ffffff;
}
.last1{
	width: 100%;
	height: 160px;
	margin: 0 auto;
	background-color: #000000;
	text-align: center;
}
.last1 p{
	color: #ffffff;
	font-size:14px;
	font-family: '微软雅黑';
	line-height: 30px;
}
.last1 p.one{
	padding-top:45px ;
}