*{
	padding: 0;
	margin: 0;
}
ul,li,ol{
	list-style: none;
}
a{
	text-decoration: none;
}
.cleatr:after{
	content: "";
	display: block;
	height: 0;
	clear: both;
}
/*第一部分*/
.qiane{
	width:100%;
	height: 45px;
	background-color: #333;
}
.qiane ul{
	width: 1518px;
	height: 45px;
	margin: 0 auto;
}
.qiane li{
    
	float: right;
}
.qiane p{
	font-size: 14px;
	line-height: 45px;
	color: #fff;
}
.m1{
	margin-right: 36px;
}
.m2{
	margin-right: 17px;
	margin-top: 12px;
}
.m3{
	margin-right: 14px;
}
.m4{
	margin-right: 44px;
}
.m5{
	margin-right: 9px;
	margin-top: 7px;
}

/*第二部分*/
.headr{
	width: 1428px;
	height: 79px;
	margin: 0 auto;
}
.headr ul{
	width: 1518px;
	height: 79px;
	display: block;
	margin: 0 auto;
}
.headr img{
	padding-top: 14px;
	padding-left: 40px;
}
.daohang li{
	font-size: 20px;
	line-height: 79px;
	margin-right: 48px;
	display: inline-block;
	float: left;
}
.daohang a{
	color: #000;
}
.first{
	margin-left: 355px;
}
.differ{
	height: 75px;
	border-bottom: 4px solid #e8420a;
}
.differ a{
	color: #e8420a;
	
}
/*第三部分*/
.biaodan{
	width: 1534px;
	height: 398px;
	margin: 0 auto;
	background: url(../images/bg_02.png) no-repeat center center ;
}
.xuanxiang{
	width: 1008px;
	height: 182px;
	margin: 0 auto;
}
.biaodan div{
	display: inline-block;
}
.gray{
	height: 62px;
	background-color: #b2b2b2;
}
.chang1{
	width: 389px;
}
.chang2{
	width: 224px;
}
.chang3{
	width: 150px;
}
.biaodan input{
	background-color: #fff;
	border-radius: 4px;
	border: 5px solid rgba(178,178,178,0.5);
	margin-top: 257px;
}
.sousuo{
	border: 5px solid rgba(178,178,178,0.5);
	border-radius: 4px;
	
}
.biaodan button{
	border-radius: 4px;
}
.one{
	width: 378px;
	height: 53px;
	font-size: 18px;
	color: #666;
	line-height: 53px;
	background: url(../images/zuobiao.png) no-repeat 17px 14px;
}
.two{
	width: 215px;
	height: 53px;
	font-size: 18px;
	line-height: 53px;
	background: url(../images/xiaorili.png) no-repeat 150px 12px;
}
.three{
	width: 142px;
	height: 53px;
	background-color: #e8420a;
}
/*图片部分*/
.six{
	width: 1200px;
	height: 2385px;
	margin: 0 auto;
}
/*图片部分第一块*/
.xiaoyu{
	height: 108px;
}
.xiaoyu p{
	line-height: 108px;
}
/*图片部分第二块*/
.biaoge{
	width: 1200px;
	height: 268px;

}
.biaoge ul{
	width: 1200px;
}
.biaoge li{
	float: left;
}
.biaoge span{
	color: #1c5080;
}
.b1{
	width: 150px;
	height: 50px;
	font-size: 24px;
	line-height: 50px;
	color: #fff;
	background-color: #1c5080;
	text-align: center;
}
.b2{
	width: 1048px;
	height: 46px;
	border-bottom: 2px solid #1c5080;
	border-top: 2px solid #ededed;
	border-right: 2px solid #ededed;
}
.a1{
	width: 150px;
	height: 61px;
	font-size: 20px;
	line-height: 62px;
	background-color: #f5f5f5;
	text-align: center;
	border-left: 1px solid #e9e9e9;
	border-bottom: 2px solid #e9e9e9;
}
.a2{
	width: 962px;
	height: 61px;
	font-size: 20px;
	line-height: 61px;
	border-bottom: 2px solid #e9e9e9;
}
.a3{
	width: 84px;
	height: 61px;
	font-size: 20px;
	line-height: 61px;
	color: #666;
    border-right: 1px solid #e9e9e9;
    border-bottom: 2px solid #e9e9e9;
}
/*图片部分第三块*/
.jiage{
	width: 1198px;
	height: 49px;
	background-color: #f5f5f5;
	border: 1px solid #e9e9e9
}
.jiage li{
	line-height: 49px;
	float: left;
}
.d1{
	font-size: 20px;
	margin-left: 35px;
}
.jiage img{
	margin-left: 11px;
	margin-top: 18px;
}
/*空*/
.none1{
	height: 41px;
}
/*图片部分第四块*/
.photo div{
	display: inline-block;
}
.photo{
	width: 1200px;
	height: 1915px;
}
.zuo{
	width: 885px;
	height: 1915px;
	float: left;
}
.you{
	width: 315px;
	height: 1915px;
	float: right;
}
.zuo hr{
	width: 848px;
	border-style: dashed;
	border-color: #f1f1f1;
}
/*第四块左边图片部分*/
.tu{
	height: 320px;*/
}
.tu li{
	float: left;
}
.wenben{
	padding-left: 21px;
}
.tu h4{
	font-size: 24px;
	font-weight: normal;
}
.tu p{
	font-size: 14px;
	line-height: 24px;
	color: #666;
}
#tu1{
	font-size: 18px;
	line-height: 30px;
}
#tu1 span{
	color: #e8440e;
}
#tu2 span{
	color: #1c5080;
}
#money1{
	font-size: 20px;
	line-height: 46px;
	color: #000;
	padding-left: 132px;
	display: inline-block;
}
#money1 span{
	color: #e8420a;
}
#money2{
	font-size: 20px;
	line-height: 46px;
	color: #000;
	padding-left: 153px;
	display: inline-block;
}
#money2 span{
	color: #e8420a;
}
.orange2{
	font-size: 36px;
}
.wenben button{
	width: 132px;
	height: 34px;
	color: #fff;
	background-color: #e8420a;
	border-radius: 6px;
	margin-left: 38px;
}
.ye{
	padding-top: 60px;
	padding-left: 248px;
}
.ye li{
	float: left;
	line-height: 155px;
	margin-right: 6px;
}
.ye button{
	width: 36px;
	height: 35px;
	border-radius: 2px;
	border-color: #f2f2f2;
	background-color: #fff;
}
.zuimoye button{
	width: 70px;
	height: 35px;
}
/*第四块右边图片部分*/
.you1{
	font-size: 22px;
	margin: 4px auto;
}
.you1 span{
	color: #e8420a;
}
.none2{
	width: 315px;
	height: 30px;
}
.offer{
	font-size: 18px;
	line-height: 30px;
}
.offer1{
	color: #e8420a;
}
.offer2{
	font-size: 30px;
	line-height: 46px;
}
.offer{
	line-height: 46px;
}
/*底部*/
.dibu{
	width: 100%；
	height: 801px;
	background-color: #000;
}
.dibuneirong{
	width: 1428px;
	height: 234px;
	margin: 0 auto;
}
.jie1 li{
	color: #fff;
}
.di1{
	width: 1200px;
	height: 165px;
	margin: 0 auto;
	padding-top: 70px;
}
.wei1{
	float: left;
}
.wei1 li{
	font-size: 14px;
	line-height: 30px;
}
#huya{
	font-size: 18px;
}
.wei3{
	padding-left: 45px;
}
.wei4{
	padding-left: 52px;
}
.wei5{
	padding-left: 64px;
}
.wei5 img{
	padding-top: 15px;
	padding-left: 20px;
}
.xinlang{
	padding-left: 15px;
}
.wei6{
	padding-left: 8px;
	padding-top: 43px;
}
.wei7{
	padding-left: 7px;
	padding-top: 52px;
}
.wei8{
	padding-left: 116px;
}
.wei9{
	padding-left: 27px;
}
.rexian>li{
	float: left;
}
#hu1{
	font-size: 26px;
}
#english{
	font-size: 14px;
	font-weight: lighter;
}
.phonenum{
	padding-left: 24px;
}
.phonenum li{
	font-size: 28px;
	font-weight: lighter;
	line-height: 34px;
}
.email li{
	font-size: 16px;
	line-height: 30px;
}

.dibuneirong1{
	width: 1428px;
	height: 325px;
	margin: 0 auto;
}
.di2{
	width: 1200px;
	height: 73px;
	margin: 0 auto;
	margin-top: 47px;
}
.jie1>li{
	float: left;
}
.jie2>li{
	padding-right: 16px;
}
#huya1{
	font-size: 18px;
	padding-right: 22px;
}
.di3{
	width: 1200px;
	height: 60px;
	margin: 0 auto;
}
.hezuo{
	font-size: 14px;
	line-height: 30px;
	text-align: center;
}
.remen{
	font-size: 18px;
	color: #fff;
}
.remen span{
	font-size: 14px;
	line-height: 30px;
}
.di4{
	width: 1200px;
	height: 30px;
	margin: 0 auto;
}
.dibuneirong2{
	width: 1428px;
	height: 156px;
	margin: 0 auto;
}
.dibuneirong2 p{
	font-size: 16px;
	line-height: 30px;
	text-align: center;
	color: #fff;
}