*{
	padding:0;
	margin:0;
}
ul,li,ol{
	list-style:none;
}
a{
	text-decoration:none;
	color: black;
}
p{
	color: black;
}

/*第一部分*/
.register{
	width: 100%;
	height:45px;
	margin:0 auto;
	background:#333333;
}
.nregister{
	width: 1428px;
	height:45px;
	margin:0 auto;
}
.rexian{
	padding-left: 1055px;
}
.first>li{
	display:block;
	float:left;
	text-align: center;
	height:45px;
	line-height: 45px;
	color:white;
}
.phone{
	font-size: 20px;
}
.denglu{
	margin-left: 43px;
	font-size: 14.23px;
}
.shutiao{
	margin-left: 20px;
	font-size: 14.23px;
}
/*第二部分*/
/*.shouye{
	width: 1428px;
	height:80px;
	margin:0 auto;
	background: pink；
}
.yhyiyou{
	padding-left:40px;
	height:80px;
	line-height: 80px;
}
.first a{
	display:block;
	float:left;
	text-align: center;
	padding-right:45px;
	height:80px;
	line-height: 80px;
	color:black;
	font-size:20px;
}
.left{
	padding-left:300px;
}
.mudidi a{
	color:red;
}
.redtiao{
	margin-left: 670px;
	margin-top: 30px;
}
*/
.nav{
	width: 1428px;
	height: 80px;
	margin: 0 auto;
	cursor: pointer;
	
}


.nav img{
	float: left;
	padding-left: 30px;
	padding-top: 10px;
}
.nav li{
	text-align: center;
	width: 120px;
	height: 50px;
	line-height: 40px;
	padding-top: 15px;
	font-family: '微软雅黑';
	font-size: 20px;
	background: #ffffff;
}
.nav > ul > li {
	float: left;
	position: relative;
}
.nav>ul>li ul{
	display: none;
	position: absolute;
	left: 0;
	top: 40px;
	padding-top: 5px;
}
.nav>ul>li:hover ul{
	display: block;
}
.nav li:hover {
	background: #ffffff;
}
.nav li:hover>a {
	color: #e8420a;
	font-weight: bold;
}
.nav li.first{
	margin-left: 370px;
	width: 90px;
}

/*第三部分*/
.nation{
	width:1428px;
	height:398px;
	margin:0 auto;
	background:url(../images/changcheng.png) no-repeat center center;
}
.img{
	display: block;
	float: left;
}
.img1{
	padding-right: 245px;
	padding-top:70px; 
}
.img2{
	padding-right: 400px;
	padding-top:55px; 
}
.img3{
	padding-top: 30px;
	padding-left: 1380px;
}
.wbox{
	width: 97px;
	height: 80px;
	background-color: white;
	margin-left:670px;
}
.l1{
	color: red;
	text-align: center;
	padding-top: 10px;	
}
.l2{
	color: black;
	text-align: center;
	padding-top: 10px;
}
.hengtiao{
	display:block;
	float:left;
	margin:0 auto;
	padding-top:130px;
	position:relative;
	left: 550px;
}
/*第四部分*/
.spot{
	width: 1428px;
	height: 2815px;
	margin:0 auto;
	padding-top: 30px;
}
.spotx{
	width: 1205px;
	height: 2525px;
	margin:0 auto;
}
.bl li{
	float: left;
}
.spotz{
	text-align: center;
	padding-top: 25px;
	margin-bottom:10px;
	background-color: #f5f5f5;
}
.spot1{
	width: 395px;
	height: 560px;
}
.tu1{
	margin-bottom: 30px;
}
.tuu1{
	margin-bottom: 0px;
}
.wen1{
	line-height: 30px;
	margin-bottom: 5px;
	font-size: 16px;

}
.spot1>a{
	font-size: 17px;
	margin:0 auto;
	display: block;


}
.wenhui{
	color: #8a8a8a;
}
.price{
	font-size:20px;
	color: red;
}
.more{
	width: 135px;
	height: 35px;
	margin:0 auto;
	background-color: #e8420a;
	border-radius:10px;
	margin-top: 15px;
	color: white;
	height: 35px;
	line-height: 35px;
}
.spot2{
	width: 395px;
	height: 765px;
}
.spot3{
	width:395px;
	height: 565px;
}
.spot4{
	width: 395px;
	height: 605px;
}
.spot5{
	width: 395px;
	height: 645px; 
	margin-left: 10px;

}
.spot6{
	width: 395px;
	height: 640px;
	margin-left: 10px;
}
.spot7{
	width: 395px;
	height: 605px;
	margin-left: 10px;
}
.spot8{
	width: 395px;
	height: 605px;
	margin-left: 10px;
}
.spot9{
	width: 395px;
	height: 835px;
	margin-left:10px;
	position: relative;
}
.spot10{
	width: 395px;
	height: 610px;
	margin-left:10px;
}
.spot11{
	width: 395px;
	height: 650px;
	margin-left:10px;
}
.spot12{
	width: 395px;
	height: 400px;
	margin-left:10px;
}
.parent{
	position: relative;
}
.tubiao{
	width: 47px;
	height: 390px;
	float: right;
	position: absolute;
	top: 1px;
	right: 1px;
}
.black{
	width: 115px;
	height: 135px;
	float: right;
	background-color: black;
	position:absolute;
	right: 47px;
	top: 100px;
	text-align: center;
	padding-top: 5px;
}
.black>p{
	font-size:10px ;
	color: white;
}
.spot>button{
	width: 300px;
	height: 47px;
	background:none;
	border:1px solid #afafaf; 
	border-radius:15px;
	position: absolute;
	left:580px;
	bottom:80px;
	color: #afafaf;

}

/*最后部分*/
.last{
	width: 100%;
	height: 810px;
	background-color: black;
	margin:0 auto;
}
.nlast{
	width: 1428px;
	height: 810px;
	background-color: black;
	margin:0 auto;
}
.last1{
	width: 1428px;
	height: 275px;
	border-bottom:  1px dotted white;
	color: white;
}
.last2{
	width: 1428px;
	height: 400px;
	border-bottom:  1px dotted white;
}

.rig>li{
	margin-right:45px;
	margin-top: 30px;
}
.rmwz li{
	margin-right:7px;
	display:inline-block;
	color:white;
	font-size: 16px;
	float: left;
	text-align: left;
}
	

.textl{
	text-align: left;
}
.yy{
	
}
/*.yy1{
	margin-right:20px;*/
}
.mlast1{
	width: 1198px;
	height: 275px;
	margin:0 auto;
}
.bottom>ul{
	padding-bottom:100px;
}
.mlast2{
	width: 1198px;
	height: 370px;
	margin:0 auto;
}
.float>li{
	float: left;
	padding-bottom:20px;
}
/*.p li{
	text-align: left;
	color: white;
	line-height: 35px;
}*/
.last3{
	width: 1428px;
	padding-top: 45px;
	text-align: center;
	border-bottom: 1px dotted;
}
.last3 li{
	text-align: center;
	color: white;
	line-height: 30px;
}
.size{
	font-size: 20px;
}
.header{
	font-size: 18px;
}
.line{
	margin-top:3px;
}