/*
* @Author: lenovo
* @Date:   2018-06-18 15:56:15
* @Last Modified by:   lenovo
* @Last Modified time: 2018-06-18 17:09:18
*/
*{
	padding: 0;
	margin: 0 auto;
}
ul,li,ol{
	list-style: none;
}
.clear:after {
	content: '';
	display: block;
	height: 0;
	clear: both;
}
a{
	text-decoration: none;
}
/**/
.nav{
	width: 750px;
	height: 118px;
	margin: 0 auto;
}
.nav ul{
	margin-top: 26px;
	float: left;
}
.nav button{
	width: 166px;
	height: 57px;
	color: #ffffff;
	font-size: 28px;
	font-family: '黑体';
	border-radius: 10px;
	border: 0;
	background-color: #e8420a;
	margin-left: 180px;
	margin-top: 26px;
}