*{
	position: 0;
	margin: 0;
}
ul,li,ol{
	list-style: none;
}
a{
	text-decoration: none;
}
.kaishi{
	height: 29px;
	width: 100%;
	background-color: #1b1b1b;
	margin:0 auto;
}
.kaishi p{
	margin-right: 420px;
	margin-top: 7px;
	float: right;
	font-size: 12px;
	color: #616161;
}
.header{
	height: 135px;
	width: 100%;
	margin-top: 0px;
	margin:0 auto;
}
.logo{
	height: 80px;
	width: 220px;
	margin-top: 30px;
	margin-left: 360px;
	float: left;
	margin-right: 180px;
}
.nav li{
	margin-top: 65px;
	margin-right: 50px;
	float: left;
	font-size: 14px;
}
.nav li a{
	color: #000000;
}
.nav li a:hover{
	display: block;
	height: 35px;
	color: #f1760f;
	border-bottom: 3px solid #f1760f;
}
.bg{
	width: 100%;
	height: 575px;
	background: url(../images/bg1.jpg) no-repeat center center;
	margin:0 auto;
}
.bg p{
	font-size: 33px;
	color: #f97b11;
	text-align: center;
	padding-top: 300px;
	margin-left: 80px;
}
.necessary{
	width: 100%;
	height: 600px;
	margin:0 auto;
}
.necessary p{
	text-align: center;

}
.necessary ul{
	margin:0 auto;
}
.necessary ul li{
	float: left;
	width: 190px;
	height: 285px;
	margin:0 auto;
}
.necessary ul li img{
	margin-left: 53px;
	margin-top: 36px;
}
.necessary ul li:hover{
	background: #f1760f;
	color: white;
}
.p3{
	font-size: 24px;
	margin-top: 75px;
}
.p2{
	font-size: 18px;
	margin-top: 20px;
	color: #3d3d3d;
}
.p1{
	text-align: center;
}
.process{
	width: 100%;
	height: 965px;
	background: url(../images/bg1.png) no-repeat center center;
	margin:0 auto;
}
.process p{
	text-align: center;
}
.process ul li{
	width: 185px;
	height: 210px;
	float: left;
	margin-top: 80px;
	margin-right: 225px;
	margin-bottom: 120px;
}
.process ul li img{
	margin-left: 60px;
	margin-bottom: 40px;
}
.p4{
	font-family: Franklin Gothic Demi;
	font-size: 24px;
	margin-bottom: 25px;
	color: #3a3a3a;
}
.p5{
	font-size: 24px;
	margin-bottom: 12px;
}
.p6{
	font-family: Arial;
	font-size: 18px;
}
.zhuce{
	width: 100%;
	height: 670px;
	margin: 0 auto;
}
.zhuce ul li{
	float: left;
	margin-right: 60px;
	width: 360px;
	height: 300px;
}
.p7{
	font-size: 24px;
	text-align: center;
	margin-top: 220px;
}
.p8{
	font-size: 13px;
	font-family: Arial;
	margin-top: 10px;
	text-align: center;
	color: #848484;
}
.needed{
	width: 100%;
	height: 1090px;
	margin: 0 auto;
	background: url(../images/ne2.png) no-repeat center center;
}
.needed2{
	width: 1200px;
	height: 985px;
	margin-left: 355px;
	padding-top: 105px;
	background: url(../images/ne_03.jpg) no-repeat center center;
}
.needed p{
	color: white;
}
.p9{
	margin-left: 350px;
	font-size: 16.36px;
	margin-top: 61px;
}
.work{
	width: 100%;
	height: 655px;
	margin: 0 auto;
}
.work ul{
	float: left;
	padding-left: 10px;
}
.work p{
	text-align: center;
}
.p10{
	font-size: 24px;
}
.hebei{
	width: 100%;
	height:680px;
	margin: 0 auto; 
}
.hebei2{
	margin: 0 auto;
	width: 1415px;
	height: 245px;
}
.hebei2 ul{
	background: #f1f6fb;
	width: 1365px;
	height: 245px;
	float: left;
	padding-left: 0px;
}
.hebei2 ul li{
	float: left;
	width: 455px;
	height: 245px;
	background: url(../images/ww5.png) no-repeat right center;
}
.hebei2 ul li img{
	float: left;
}
.hebei2 ul li p{
	font-size: 14.07px;
}
.hebei2 ul li:last-child{
	background: none;
}
.service1{
	width: 100%;
	height: 800px;
	background: #f1f6fb; 
	margin: 0 auto;
}
.service1 p{
	text-align: center;
}
.service1 ul li{
	float: left;
}
.li1{
	margin-top: 95px;
	margin-right: 185px;
}
.li2{
	margin-top: 80px;
	margin-right: 185px;
}
.li1 p{
	font-size: 20px;
	margin-top: 30px;
}
.li2 p{
	font-size: 20px;
	margin-top: 30px;
}
.last{
	width: 100%;
	height: 325px;
	background: #363636;
	margin: 0 auto;
}
.last ul{
	padding-top: 70px; 
	float: left;
}
.last ul li{
	float: left;
	padding-right: 45px;
	margin-left: 45px;
	height: 95px;
	background: url(../images/l5.png) no-repeat right center;
}
.last p{
	color: #7e7e7e;
	font-size: 12px;
}
.last ul li p{
	margin-top: 25px;
}
.last li:last-child{
	background: none;
}