*{
	position: 0;
	margin: 0;
}
ul,li,ol{
	list-style: none;
}
a{
	text-decoration: none;
}
.p1{
	text-align: center;
}
.kaishi{
	height: 29px;
	width: 100%;
	background-color: #1b1b1b;
}
.kaishi p{
	margin-right: 350px;
	margin-top: 7px;
	float: right;
	font-size: 12px;
	color: #616161;
}
.header{
	height: 135px;
	width: 100%;
	margin-top: 0px;
}
.logo{
	height: 80px;
	width: 220px;
	margin-top: 30px;
	margin-left: 360px;
	float: left;
	margin-right: 180px;
}
.nav li{
	margin-top: 65px;
	margin-right: 50px;
	float: left;
	font-size: 14px;
}
.xuanzhong{
	color: #f4975e;
	padding-bottom: 35px;
	background: url(../images/logo2.png) no-repeat bottom center;
}
.about{
	width: 100%;
	height: 625px;
	background: url(../images/bg1.png)  no-repeat center center;
}
.advantages{
	width: 100%;
	height: 1720px;
}
.bg{
	width: 1200px;
	height: 1100px;
	margin-left: 355px;
	background: url(../images/bg2.png) no-repeat bottom center;
}
.p2{
	font-size: 16px;
	padding-bottom: 10px;
}
.service{
	width: 100%;
	height: 790px;
	background: #f1f6fb;
}
.service ul li{
	float: left;
}
.li1{
	margin-top: 95px;
	margin-right: 185px;
}
.li2{
	margin-top: 80px;
	margin-right: 185px;
}
.li1 p{
	font-size: 20px;
	margin-top: 30px;
}
.li2 p{
	font-size: 20px;
	margin-top: 30px;
}
.zuihou{
	width: 100%;
	height: 120px;
}
.last{
	width: 100%;
	height: 325px;
	background: #363636;
}
.last ul{
	padding-top: 70px; 
	float: left;
}
.last ul li{
	float: left;
	padding-right: 45px;
	margin-left: 45px;
	height: 95px;
	background: url(../images/l5.png) no-repeat right center;
}
.last p{
	color: #7e7e7e;
	font-size: 12px;
}
.last ul li p{
	margin-top: 25px;
}
.last li:last-child{
	background: none;
}